.caja {
  width: 200px;
  height: 200px;
  background-color: #4caf50;
  border: solid 2px #000;
}

#padre {
  background-color: burlywood;
  height: 100vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
